transformers
transformers[sentencepiece]
datasets
sacrebleu
pyyaml
rouge_score
py7zr
pandas
nltk
tqdm
PyYAML
matplotlib
torch
python-box
notebook
boto3
kaggle
kagglehub
mypy-boto3
python-box
ensure
fastapi
uvicorn
Jinja2
-e .
